@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  position: absolute;
  font-family: Arial;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: white;
  top: 0px;
  left: 0px;
  z-index: -100;
  /* background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(151, 241, 48, 0.6), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);   */
}

html .wallpaper{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url('../../assets/butterfly-1127666_960_720.jpg');
    filter: blur(50%);
    opacity: 0.7;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    top: 0px;
    left: 0px;
  }

* {
  box-sizing: border-box;
}
hr {
  border: 1px solid ;
  width: 80%;
}

body {
  position: relative;
  line-height: normal;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0 0 0 0;
  /* background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(103, 241, 48, 0.6), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%); */
  z-index: 100;
}

body .icon-site{
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
    width: 250px;
    height: auto;
    background:rgba(255, 255, 255, 0.8);
    z-index: 500;
    border-radius: 0px 0px 100px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all ease-out 300ms;
  }
body .icon-site img{
  width: 150px;
  padding: 5px;
}
body .icon-site:hover {
  /* background-color:rgba(178, 186, 205, 0.4); */
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

main{
  position: static;
  width: 100%;
  height: 100%;
}
main .list{
  position: fixed;
  width: 30%;
  height: 100vh;
  float: left;
  /* background-color: red; */
  display: block;
  object-position: right;
}
main .class_site{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100vh;
  float: right;
  /* background-color: yellow; */
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.list nav{
  top: 15%;
  position: relative;
  text-align: left;
  font-weight: bold;
}

.nav li {
  position: relative;
  margin: 2em 0 0 0;
  cursor: pointer;
  background:rgba(255, 255, 255, 0.4);
  list-style: none;
  width: 80%;
  transition: all ease-out 300ms;
  border-radius: 0px 0px 100px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav li:not(.active):hover {
  box-shadow: 0 0 2px;
}
.nav li a {
  line-height: 3em;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration-line: none;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: 0px 0px 100px 0px;
  width: 80%;
}
.nav li.active a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
  margin-left: 10px;
  text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 2px darkblue;
  cursor: no-drop;
}
.nav li:not(.active)::after {
  opacity: 0.2;
}
.nav li:not(.active):hover a {
  color: rgba(0, 0, 0, 0.904);
}

.profileSite{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: calc((100% - 80%) / 2);
  margin-top: 5%;
  border-radius: 100%;
  overflow: hidden;
}
.profileSite > img {
    width: 200px;
    height: 200px;
}
.profileSite > div{
  position: absolute;
  display: inline;
  bottom: 0;
  width: 100%;
}
.profileSite div > button {
  border-radius: 10% 0 0 0;
  width: 100%;
}

.profileSite2{
  margin-top: 5%;
}