@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  font-family: Arial;
  font-size: 16px;
  background: #5e42a6;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  /* background: #312450; */
  background: linear-gradient(to top left,#624b96,#5c3e9c,#8e72ca,#9e7fe0);
  font-size: 0.65em;
  top:0px;
  left: 0px;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav li{
  font-size: 12px;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #694ab8,#3f89dd, #40e248);
}

.twitter {
    position: absolute;
  width: 75%;
  float: right;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left bottom,#27184e,#573f94,#9d7de4);
  top:0px;
  left: 25%;
}
.twitter .container {
    position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #9578df;
  width: 80%;
  height: 95%;
  margin-left: 10%;
  margin-top: 2%;
  border-style: inherit;
  border-width: 5px;
  border-color: #5836af ;
  border-radius: 70px;
}

.picture_container{
  position: relative; 
  width: 45%;
  height: 100%;
  /* background: #40e248; */
  background-image: url("../../assets/Wallpaper-Pinterest-Patricia-Viana.jpg");
  /* background-position: center; */
  background-size: 100%;
  /* background-position-y: 80px; */
  border-radius: 70px 0px 0px 70px; 
}

.login_container{
  display: flex;
  position: relative; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #9578df;
  width: 55%;
  height: 100%;
  /* left: 25%; */
  border-radius: 0px 70px 70px 0px; 
}

.twitter .l_signup{
    color: white;
    font-size: 26px;
    font-weight: 800;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 2vh;
  }
  
  .example-full-width {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: aliceblue;
  }

  .color_text{
      color: aliceblue;
      font-size: 16px;
  }

  .site_form{
      width: 80%;
  }

  .l_login{
      color: aliceblue;
      font-size: 16px;
  }

  .f_login{
      margin-top: 2vh;
  }

  .f_login .l_link_login{
      color: #60d66a;
      font-size: 16px;
      margin-left: 5px;
      cursor: pointer;
      font-weight: 600;
    }

.b_color{
    color: white;
    background-color: #60d66a;
    margin-top: 3vh;
    width: 100%;
    height: 70%;
    border-radius: 25px;
    font-size: 14px;
}

.f_b_site{
    margin-left: 60%;
    width: 20%;
}
