.panel_site_input{
    text-align: center;
}

body {
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

div {
    display: block;
}

* {box-sizing: border-box}

.input-form {
    min-width: 150px;
    max-width: 500px;
    width: 485.25px;
    /* margin-top: 20px; */
}

.input-full-width{
    width: 100%;
    font-size: 18px;
}

.button-form {
    border-radius: 25px;
    width: 90px;
    font-size: 15px;
}