@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  position: absolute;
  font-family: Arial;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: white;
  top: 0px;
  left: 0px;
  z-index: -100;
}

* {
  box-sizing: border-box;
}

html .wallpaper{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url('../../assets/834588-top-learning-wallpapers-1920x1080-free-download_optimized.jpg');
  opacity: 0.5;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  top: 0px;
  left: 0px;
}

body {
  position: relative;
  flex-direction: row;
  line-height: normal;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: auto;
  height: 100%;
  z-index: 200;
  top: 0px;
  left: 0px;
}

body .icon-site{
  /* position: absolute; */
  position: fixed;
  float: left;
  top: 0px;
  left: 0px;
  width: 250px;
  height: auto;
  background:rgba(255, 255, 255, 0.8);
  z-index: 501;
  border-radius: 0px 0px 100px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body .icon-site img{
  width: 150px;
  padding: 5px;
}
body .icon-site:hover {
  /* background-color:rgba(178, 186, 205, 0.4); */
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

.main-site{
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 600px;
  flex-direction: row;
  z-index: 400;
  /* background-color: red; */
}
.main-site .form_picture{
  position: fixed;
  float: left;
  width: 40%;
  height: 100%;
  /* background-color: lightblue; */
}
.main-site .form_input{
  float: right;
  width: 60%;
  height: 98vh;
  display: block;
  position: relative;
  /* background-color: red; */
  /* overflow: auto; */
  overflow-x: hidden;
  overflow-y: scroll;
}

.picture_site{
  display: flex;
  width: 250px;
  height: 250px;
  background:white;
  margin-top:  25%;
  margin-left: calc((100% - 250px) / 2);
  border-radius: 10%; 
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 140, 186, 0.7);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.picture_site .image_site{
  /* width: 250px; */
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-style: 5px solid;
  image-resolution: 300dpi;
  image-rendering: crisp-edges;
  image-orientation: from-image;
  background-size: cover;
  overflow: hidden;
  padding: 10px;
}
.form_picture .ng-hide{
  visibility: hidden;
}

.login_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  width: 70%;
  height: 100vh;
  border-radius: 10%; 
  margin-left: calc((100% - 70%) / 2);
  box-shadow: 5px 5px 15px rgba(0, 140, 186, 0.8);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(94, 207, 245, 0.7));
  margin-top: 5%;
  margin-bottom: 5%;
}
.login_container .l_signup{
  color: white;
  font-size: 26px;
  font-weight: 800;
  margin-top: 5%;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  letter-spacing: 3px;
}
.login_container .f_login{
  margin-top: 2%;
  margin-bottom: 5%;
}

.login_container .f_login .l_link_login{
  color: #60d66a;
  font-size: 17px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 600;
}
.login_container .f_login .l_login{
  color: black;
  font-size: 17px;
}

.login_container .site_form{
  width: 80%;
}

.login_container .site_form .example-form {
  width: 100%;
  margin-top: 1%;
}
.login_container .site_form .example-form .example-full-width {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
}
.login_container .site_form .example-form .example-full-width2{
  width: 48%;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  margin-right: 2%;
}
.f_b_site{
  width: 80%;
  margin-bottom: 30px;
}
.b_color{
  color: white;
  background-color: #60d66a;
  margin-top: 1vh;
  width: 100%;
  border-radius: 25px;
  font-size: 14px;
}
.color_text{
  color: black;
  background-color: rgba(255, 255, 255, 0);
  text-emphasis: none;
}