<!DOCTYPE html>
<html>
    <head>
        <style type="text/css"></style>
    </head>
    <body>
        <div style="position: absolute;width: 1366px;height: 650px;left: 0px;top: 0px;">
            <mat-icon style="font-size: 40px;cursor: pointer;margin-left: 1100px;margin-top: 15px;" [routerLink]="['/Title']">exit_to_app</mat-icon>
            <div style="position: absolute;width: 683px;height: 560px;margin-left: 25%;top: 10%;" class="panel_site_input">
                <label style="font-size: 40px;font-weight: 600;">Sign up</label>
                <div style="margin-top: 15px">
                    <label style="font-size: 12px">Already have a Check name account?</label>
                    <label style="font-size: 13px;margin-left: 5px;color: red;cursor: pointer;">Login</label>
                    <form class="input-form">
                            <mat-form-field style="margin-left: 98.875px;" class="input-full-width">
                                <input matInput placeholder="Name" value="">
                            </mat-form-field>
                    </form>

                    <form class="input-form">
                            <mat-form-field style="margin-left: 98.875px;" class="input-full-width">
                                <input matInput placeholder="Teacher ID" value="">
                            </mat-form-field>
                    </form>

                    <form class="input-form">
                            <mat-form-field style="margin-left: 98.875px;" class="input-full-width">
                                <input matInput placeholder="E-mail" value="">
                            </mat-form-field>
                    </form>

                    <form class="input-form">
                            <mat-form-field style="margin-left: 98.875px;" class="input-full-width">
                                <input matInput placeholder="Workplace" value="">
                            </mat-form-field>
                    </form>

                    <form class="input-form">
                            <mat-form-field style="margin-left: 98.875px;" class="input-full-width">
                                <input matInput type="password" placeholder="Password" value="">
                            </mat-form-field>
                    </form>

                    <form class="input-form">
                            <mat-form-field style="margin-left: 98.875px;" class="input-full-width">
                                <input matInput type="password" placeholder="Confirm password" value="">
                            </mat-form-field>
                    </form>

                    <form>
                            <button class="button-form" mat-raised-button color="accent">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
