@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  position: absolute;
  font-family: Arial;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: white;
  top: 0px;
  left: 0px;
  z-index: -100;
  background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(48, 138, 241, 0.6), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
}

html .wallpaper{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url('../../assets/Backgrounds-Education-HD-min.jpg');
  filter: blur(50%);
  opacity: 0.4;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  top: 0px;
  left: 0px;
}

* {
  box-sizing: border-box;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.7);
  width: 80%;
  margin: 5% 5% 0px 0;
}

body {
  position: relative;
  line-height: normal;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: auto;
  height: auto;
  min-height: 100%;
  margin: 0 0 0 0;
  /* background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(48, 138, 241, 0.6), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%); */
    z-index: 100;
}

body .icon-site{
    position: relative;
    position: fixed;
    float: left;
    top: 0px;
    left: 0px;
    width: 250px;
    height: auto;
    background:rgba(255, 255, 255, 0.8);
    z-index: 500;
    border-radius: 0px 0px 100px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all ease-out 300ms;
  }
body .icon-site img{
  width: 150px;
  padding: 5px;
}
body .icon-site:hover {
  /* background-color:rgba(178, 186, 205, 0.4); */
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

body .profile-site{
  position: fixed;
  z-index: 500;
}
.img-dropdown{
  position: fixed;
  display: flex;
  float: right;
  width: 90px;
  height: 90px;
  top: 2%;
  right: 1%;
  border-radius: 100%;
  z-index: 500;
  transition: all ease-out 300ms;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-dropdown mat-card img{
  display: flex;
  width: 90px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  transition: all ease-out 300ms;
  justify-content: center;
  align-items: center;
  z-index: 502;
  image-resolution: 320dpi; 
  image-rendering: auto;
}
.img-dropdown:hover >  mat-card{
  /* box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); */
  width: 200px;
  height: 200px;
  border-radius: 10%;
  /* padding: 2px; */
}
.img-dropdown:hover >  mat-card img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
body .profile-site button{
  position: fixed;
  z-index: 400;
  top: 120px;
  right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.img-dropdown:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
  width: 450px;
  height: 270px;
  border-radius: 10%;
}
body .profile-site button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.dropdown{
  position: absolute;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropdown-content {
  float: right;
  display: none;
  position: relative;
  background-color: #f9f9f9de;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  margin-left: 10px; 
}

.dropdown2 {
  position: relative;
  display: inline-block;
}
.dropdown2 .dropdown-content {
  float: right;
  display: none;
  position: relative;
  background-color: #f9f9f9de;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  margin-left: 10px; 
}

.dropdown-content a {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #191f70e1;
  color: white;
  border-radius: 7px 2px;
  box-shadow: 2px 2px 5px gray;
}
.dropdown2:hover .dropdown-content {
  display: block;
}
.dropdown{
  position: absolute;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropdown-content {
  float: right;
  display: none;
  position: relative;
  background-color: #f9f9f9de;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  margin-left: 10px; 
}

.dropdown2 {
  position: relative;
  display: inline-block;
}
.dropdown2 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9ea;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -8em;
  margin-top: 30%;
}

.dropdown-content a {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #191f70e1;
  color: white;
  border-radius: 7px 2px;
  box-shadow: 2px 2px 5px gray;
}
.dropdown2:hover .dropdown-content {
  display: block;
}

main{
  position: static;
  width: 100%;
  height: 100%;
}
main .list{
  position: fixed;
  width: 30%;
  height: 100vh;
  float: left;
  /* background-color: red; */
  display: block;
  object-position: right;
}
main .class_site{
  position: relative;
  width: 70%;
  height: 100vh;
  float: right;
  /* background-color: yellow; */
  display: block;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.list nav{
  top: 15%;
  position: relative;
  text-align: left;
  font-weight: bold;
}

.nav li {
  position: relative;
  margin: 2em 0 0 0;
  cursor: pointer;
  background:rgba(255, 255, 255, 0.4);
  list-style: none;
  width: 80%;
  transition: all ease-out 300ms;
  border-radius: 0px 0px 100px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav li:not(.active):hover {
  box-shadow: 0 0 2px;
}
.nav li a {
  line-height: 3em;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration-line: none;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: 0px 0px 100px 0px;
  width: 80%;
}
.nav li.active a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
  margin-left: 10px;
  text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 2px darkblue;
  cursor: no-drop;
}
.nav li:not(.active)::after {
  opacity: 0.2;
}
.nav li:not(.active):hover a {
  color: rgba(0, 0, 0, 0.904);
}

.class_site .title_site{
  margin: 5% 0% 0% 0%;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  width: 80%;
  height: 30vh;
  border: 1px rgba(0, 0, 0, 0.5);
  border-style: double;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.class_site .panel{
  display: flex;
  width: 100%;
  /* height: 100%; */
  /* background-color: blue; */
}

.class_site .title_site .panelTextTitle{
  /* background-color: yellow; */
  width: 100%; 
  height: 100px;
  top: 0;
  display: block;
}

.class_site .title_site .panelTextTitle > p:nth-child(1){
  font-size: 32px;
  font-family: Serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 2px 2px 25px blue, 0 0 10px darkblue;
  color: aliceblue;
}
.class_site .title_site .panelTextTitle > p:nth-child(2){
  font-size: 17px;
  font-family: Serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 2px 2px 25px rgb(255, 0, 0), 0 0 10px rgb(139, 0, 0);
  color: aliceblue;
}
.class_site .title_site .panelTextTitle > p:nth-child(3){
  font-size: 17px;
  font-family: Serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 2px 2px 25px rgb(255, 0, 0), 0 0 10px rgb(139, 0, 0);
  color: aliceblue;
}

.panel mat-accordion{
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.panel mat-accordion mat-expansion-panel{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border: 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
  margin-top: 2%;
}
.example-container {
  height: 400px;
  width: 805px;
  overflow: auto;
  border-radius: 10px;
}

table {
  width: auto;
  min-width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}
td.mat-column{
  margin-left: 20px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}
td.mat-cell th.mat-cell{
  padding-left: 10px;
}

.mat-table-sticky:first-child {
  /* border-right: 1px solid #e0e0e0; */
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
} 
ng-container{
  margin-left: 20px;
}