<!DOCTYPE html>
<html>
<head>
  <style type="text/css"></style>
</head>

<div class="wallpaper"></div>

<body id="bodyId">
  <div class="icon-site">
    <img src="../../assets/Check_name_icon.png" alt="SuthenIcon">
  </div>
  <div class="profile-site">
    <form class="dropdown">
      <form class="img-dropdown" >
          <mat-card >
              <img mat-card-avatar id="blah" [routerLink]="['/Home']" src="{{mypic}}" alt="your image" />
          </mat-card>
        <div class="dropdown-content" >
          <a >Sign in as : {{Username}} </a>
          <mat-divider></mat-divider>
          <a >Profile</a>
          <a >Setting</a>
          <mat-divider></mat-divider>
          <a (click)="logout()">Log out</a>
        </div>
      </form>
    </form>
    <form class="dropdown2">
      <button mat-fab >
        <mat-icon svgIcon="add" id="btn_create" aria-label="tool" style="margin-top:-20px;" (click)="createAuthenicate()"></mat-icon>
        <div class="dropdown-content">
          <a id="bt_createClass">Edit teacher</a>
          <a >Edit student</a>
        </div>
      </button>
    </form>
  </div>

  <main id="mainId">
    <form class="list">
      <nav class="nav">
          <li class="active"><a>People</a></li>
          <li [routerLink]="['/Authen']"><a>student authenticate</a></li>
          <li [routerLink]="['/Score']"><a>Student score</a></li>
          <li [routerLink]="['/Class']"><a>My subject</a></li>
      </nav>
    </form>


    <form class="class_site">
        <div class="title_site" style="overflow: hidden;background-image: url('../../assets/abstract-polygonal-space-low-poly-dark-background-3d-rendering_7247-223-min.jpg');background-size: 100%;">
          <div *ngFor="let class of myClass">
            <div class="panelTextTitle">
              <p> {{class.TSName}} </p>
              <p> Subject ID : {{class.TSID}} </p>
              <p> Join code : {{class.TSpassword}}  </p>
            </div>
          </div>
        </div>
      <hr>
      <div class="panel">
        <mat-accordion>
          <mat-expansion-panel [expanded]="step === 0">
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: 24px;">
                Teacher
              </mat-panel-title>
              <!-- <mat-panel-description>
                Type your name and age
              </mat-panel-description> -->
            </mat-expansion-panel-header>

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: 24px;">
                Student
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div style="width: 100%; height: 100%;float: left;display:inline-flex;">
              <div *ngFor="let item of StudentData; let i=index" style="margin-left: 5px;margin-right: 5px;">
                  <mat-card style="width: auto;position: relative;height: 100%;display: flex;justify-content: center;
                  align-items: center;">
                    <div style="width: 30px;float:left;height: 30px;display: flex;justify-content: center;
                    align-items: center;">
                        <img mat-card-avatar src="{{profileStudent}}" alt="My Img" style="width: 30px;padding: 2px;"/>
                    </div>
                    <div style="width: 90%;float: right;height: 30px;">
                        <label >{{item.StudentID + " " + item.SfirstName + " " + item.SlastName}}</label>
                    </div>
                  </mat-card>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </form>
  </main>
</body>
