<!DOCTYPE html>
<html>
<head>
  <style type="text/css"></style>
</head>
<div class="wallpaper"></div>
<body id="bodyId">
    <div class="icon-site">
        <img src="../../assets/Check_name_icon.png" alt="SuthenIcon">
    </div>
    <div class="profile-site">
        <form class="dropdown">
          <form class="img-dropdown" >
              <mat-card >
                  <img mat-card-avatar id="blah" [routerLink]="['/Home']" src="{{mypic}}" alt="your image" />
              </mat-card>
            <div class="dropdown-content" >
              <a >Sign in as : {{Username}} </a>
              <mat-divider></mat-divider>
              <a >Profile</a>
              <a >Setting</a>
              <mat-divider></mat-divider>
              <a (click)="logout()">Log out</a>
            </div>
          </form>
        </form>
    </div>
    <div class="container">
        <div class="title_site" style="overflow: hidden;background-image: url('../../assets/abstract-polygonal-space-low-poly-dark-background-3d-rendering_7247-223-min.jpg');background-size: 100%;">
            <div *ngFor="let class of myClass">
              <div class="panelTextTitle">
                <p> {{class.TSName}} </p>
                <p> Subject ID : {{class.TSID}} </p>
                <p> Join code : {{class.TSpassword}}  </p>
              </div>
            </div>
          </div>
          <hr>
          <div class="statusPanel">
            <mat-card>
                <p>นักเรียนที่เข้าเรียนทั้งหมด : </p>
                <p>นักเรียนที่ขาดเรียน : </p>
            </mat-card> 
          </div >
          <div class="showAuthenData" >
            <div *ngFor="let item of dataStudentforJoin; let i=index">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{item.SfirstName + " " + item.SlastName}}</mat-card-title>
                      <mat-card-subtitle>{{item.StudentID}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="data:image/gif;base64,{{item.ImageSelfie}}" alt="Photo of You">
                  </mat-card>
            </div>
          </div>
          <br>
    </div>
</body>