<!DOCTYPE html>
<html>
<head>
  <style type="text/css"></style>
</head>
<div class="wallpaper"></div>
<body id="bodyId">
    <div class="icon-site">
        <img src="../../assets/Check_name_icon.png" alt="SuthenIcon">
    </div>

    <main id="mainId">
        <form class="list">
            <nav class="nav">
                <li ><a [routerLink]="['/Home']">Home</a></li>
                <li ><a  [routerLink]="['/ProfileSetting']">Profile setting</a></li>
                <li class="active"><a>setting</a></li>
            </nav>
          </form>
          
          <form class="class_site">
            <mat-card class="profileSite"> </mat-card>
          </form>
    </main>
</body>

