<!DOCTYPE html>
<html>
    <head>
        <style type="text/css"></style>
    </head>
    <body>
        <main class="main">
            <aside class="sidebar">
                <nav class="nav">
                <ul>
                    <li><a href="#" [routerLink]="['/Home']">Welcome</a></li>
                    <li><a href="#" [routerLink]="['/Login']">Log in</a></li>
                    <li><a href="#" [routerLink]="['/Signup']">Sign up</a></li>
                    <li class="active"><a href="#" [routerLink]="['/Myclass']">My Class</a></li>
                </ul>
                </nav>
            </aside>

            <section class="twitter">
                <div class="container">
                    
                </div>
            </section>
        </main>
    </body>
</html>