<!DOCTYPE html>
<html>
<head>
  <style type="text/css"></style>
</head>
<div class="wallpaper"></div>
<body id="bodyId">
  <div class="icon-site">
    <img src="../../assets/Check_name_icon.png" alt="SuthenIcon">
  </div>
  <div class="profile-site">
    <form class="dropdown">
      <form class="img-dropdown" >
        <mat-card >
            <img mat-card-avatar id="blah" [routerLink]="['/Home']" src="{{mypic}}" alt="your image" />
        </mat-card>
        <div class="dropdown-content" >
          <a >Sign in as : {{Username}} </a>
          <mat-divider></mat-divider>
          <a [routerLink]="['/ProfileSetting']">Profile</a>
          <a [routerLink]="['/Setting']">Setting</a>
          <mat-divider></mat-divider>
          <a (click)="logout()">Log out</a>
        </div>
      </form>
    </form>
    <form class="dropdown2">
      <button mat-fab >
        <mat-icon svgIcon="add" aria-label="tool" style="margin-top:-20px;"></mat-icon>
        <div class="dropdown-content">
          <a id="bt_createClass">Create Class</a>
          <a id="btJoinClass">Join Class</a>
        </div>
      </button>
    </form>
  </div>

  <main id="mainId">
    <section>
    <div class="login_container">
      <form class="picture_site"></form>
      <form class="login_site">
        <form id="label_login">
            <label class="l_login">Log in</label>
            <label class="l_signup" >Not already have a Check name account?</label>
            <label class="l_link_signup" [routerLink]="['/Signup']">Sign up</label>
        </form>

        <div class="input_login">
                <form class="input-form-sit">
                  <mat-form-field class="example-full-width" color="primary">
                    <input matInput placeholder="Enter your username" value="" class="color_text" 
                    name="username" [(ngModel)]="userlogins.username">
                  </mat-form-field>
                </form>

                <form class="input-form-sit">
                  <mat-form-field class="example-full-width" color="primary">
                      <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" value="" class="color_text" 
                      name="password" [(ngModel)]="userlogins.password">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                    </mat-form-field>
                </form>

                <form class="f_b_site">
                    <button mat-raised-button (click)="checkLogin()">Login</button>
                </form>
        </div>
      </form>
    </div>
  </section>
  </main>

  <div class="class-container" id="CreateClass">
      <div class="class_panel">
        <label class="label_font"> Create class </label>
        <form class="input-form-sit">
          <mat-form-field class="example-full-width" color="primary">
            <input matInput placeholder="Class name" id="clear_class1" value=" " class="color_text" 
            name="className" [(ngModel)]="newclass.TSName">
          </mat-form-field>
        </form>

        <form class="input-form-sit">
          <mat-form-field class="example-full-width" color="primary">
              <textarea matInput placeholder="Description" id="clear_class2" value=" " name="description"
              [(ngModel)]="newclass.TSDescription"></textarea>
          </mat-form-field>
        </form> 

        <form class="input-form-sit">
          <mat-form-field class="example-full-width" color="primary">
            <input matInput placeholder="Class ID" id="clear_class3" value=" " class="color_text" 
            name="class_id" [(ngModel)]="newclass.TSID">
          </mat-form-field>
        </form>

        <form class="f_b_site" >
            <button id="bt_saveClass" mat-raised-button (click)="checkClassOrder()">Create class</button>
        </form>
      </div>
  </div>
  <div class="grid-container">
      <div *ngFor="let item of teacherClass; let i=index" class="panel" (click)="selectClass(item)">
        <div class="card_grid_site" [ngStyle]="{'background-image': 'url('+ randomImg(item,i)[i] +')'}" id="card_grid_site">
          <div style="width: 270px; height: 200px;position: relative;margin-left: 10px;">
            <div>
              <p class="textPanel" name="className">{{item.TSName}}</p>
            </div>
            <p class="textIDpanel" name="classId">{{item.TSID}}</p>
            <p class="textDescPanel" name="classDesc">Description : {{item.TSDescription}}</p>
          </div>
          <mat-icon svgIcon="delete" id="btn_screen" aria-label="tool"></mat-icon>
          <mat-icon svgIcon="edit" id="btn_screen" aria-label="edit"></mat-icon>
        </div>
    </div>
  </div>

  <div class="joinContainer" id="joinContainer">
    <div class="joinPanel">
      <form class="input-form-sit">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Enter your code</mat-label>
          <input matInput id="inputJoinClass" placeholder="Enter your code" name="joinName" [(ngModel)]="joinName">
          <mat-hint style="font-size: 14px;">กรุณานำรหัสที่อาจารย์ผู้สอนมาใส่เพื่อเพิ่มวิชาที่ท่านต้องการเรียน</mat-hint>
        </mat-form-field>
        <button mat-raised-button class="btnJoinClass" (click)="join()">Join class</button>
      </form>
    </div>
  </div>
</body>
</html>
