<!DOCTYPE html>
<html>
<head>
  <style type="text/css"></style>
</head>
<div class="wallpaper"></div>
<body id="bodyId">
  <div class="icon-site">
    <img src="../../assets/Check_name_icon.png" alt="SuthenIcon">
  </div>
  <div class="profile-site">
    <form class="img-dropdown">
      <img id="blah" [routerLink]="['/Home']" src="{{mypic}}" alt="your image" class="pic_set" />
      <div class="dropdown-content">
        <a >Name : {{name}}</a>
        <hr>
        <a >Profile</a>
        <a >Setting</a>
        <hr>
        <a (click)="logout()">Log out</a>
      </div>
    </form>
    <form class="dropdown2">
      <button mat-fab>
        <mat-icon svgIcon="add" aria-label="tool"></mat-icon>
        <div class="dropdown-content">
          <a >Create Class</a>
          <a >Join Class</a>
        </div>
      </button>
    </form>
  </div>

  <main id="mainId">
    <section>
    <div class="login_container">
      <form class="picture_site"></form>
      <form class="login_site">
        <form id="label_login">
            <label class="l_login">Log in</label>
            <label class="l_signup" >Not already have a Check name account?</label>
            <label class="l_link_signup" [routerLink]="['/Signup']">Sign up</label>
        </form>

        <div class="input_login">
                <form class="input-form-sit">
                  <mat-form-field class="example-full-width" color="primary">
                    <input matInput placeholder="Username" value="" class="color_text" 
                    name="username" [(ngModel)]="userlogins.username">
                  </mat-form-field>
                </form>
  
                <form class="input-form-sit">
                  <mat-form-field class="example-full-width" color="primary">
                    <input matInput type="password" placeholder="Password" value="" class="color_text" 
                    name="password" [(ngModel)]="userlogins.password">
                  </mat-form-field>
                </form>   

                <form class="f_b_site">
                    <button mat-raised-button (click)="checkLogin()">Login</button>
                </form>
        </div>
      </form>
    </div>
  </section>
    <div class="grid-container">
        <div *ngFor="let x of teacherClass" class="panel" (click)="selectClass(x)">
        <div class="card_grid_site">
          <p style="margin-top: 130px;padding: 10px;color: white;font-family: Arial;font-size: 19px;font-weight: 500;text-overflow: ellipsis;letter-spacing: 3px;" name="className">Class name : {{x.t_class_name}}</p>
          <p style="margin-left: 10px;text-overflow: ellipsis;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" name="classDesc">Desc : {{x.t_class_description}}</p>
          <p style="margin-left: 10px;text-overflow: ellipsis;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" name="classId">Content : {{x.t_class_id}}</p>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
