@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  /* position: relative; */
  font-family: Arial;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: white;
  top: 0px;
  left: 0px;
  z-index: -100;
  /* background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(94, 207, 245, 0.7), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #d1d1d1 100%); */
}

html .wallpaper{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url('../../assets/wp3191291-min.jpg');
  opacity: 0.7;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  top: 0px;
  left: 0px;
}

* {
  box-sizing: border-box;
}
hr {
  border: 1px solid ;
  width: 80%;
}

body {
  position: relative;
  line-height: normal;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0 0 0 0;
  /* background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(94, 207, 245, 0.7), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #d1d1d1 100%); */
  z-index: 100;
}

body .icon-site{
  position: fixed;
  float: left;
  top: 0px;
  left: 0px;
  width: 250px;
  height: auto;
  background:rgba(255, 255, 255, 0.8);
  z-index: 500;
  border-radius: 0px 0px 100px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease-out 300ms;
}
body .icon-site img{
  width: 150px;
  padding: 5px;
}
body .icon-site:hover {
  /* background-color:rgba(178, 186, 205, 0.4); */
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

body .profile-site{
  position: fixed;
  z-index: 500;
}
.img-dropdown{
  position: fixed;
  display: flex;
  float: right;
  width: 90px;
  height: 90px;
  top: 2%;
  right: 1%;
  border-radius: 100%;
  z-index: 500;
  transition: all ease-out 300ms;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-dropdown mat-card img{
  display: flex;
  width: 90px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  transition: all ease-out 300ms;
  justify-content: center;
  align-items: center;
  z-index: 502;
  image-resolution: 320dpi; 
  image-rendering: auto;
}
body .profile-site button{
  position: fixed;
  z-index: 400;
  top: 120px;
  right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.img-dropdown:hover >  mat-card{
  /* box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); */
  width: 200px;
  height: 200px;
  border-radius: 10%;
  /* padding: 2px; */
}
.img-dropdown:hover >  mat-card img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.img-dropdown:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
  width: 450px;
  height: 270px;
  border-radius: 10%;
}
body .profile-site button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

main{
  position: static;
  width: 100%;
  height: 100%;
}

/* Login UI */
section{
  position:fixed;
  top: 0;
  left: 0;
  display: flex; /* เป็นตัวตั้งค่าหน้าล็อคอินให้แสดงหน้าต่าง */
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 600; 
}
main .login_container{
  position: relative; 
  display: block;
  flex-direction: column;
  width: 700px;
  height: 500px;
  margin-left: calc((100% - 700px) / 2);
  z-index: 1000; 
  justify-items: center;
  top: 10%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px 70px;
}
main .login_container .picture_site{
  height: 65%;
  width: 100%;
  border-radius: 20px 70px 0px 0px ;
  background-image: url('../../assets/Title_1-min.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1002;
  padding: 2px;
}
main .login_container .login_site{
  height: 35%;
  width: 100%;
  background-color: white;
  border-radius: 0px 0px 20px 70px;
  z-index: 1001;
  float: left;
}
main .login_container .login_site #label_login{
  width: 45%;
  height: 100%;
  /* background-color: brown; */
  float: left;
  border-radius: 0 0px 0 70px;
  flex-direction: column;
}
main .login_container .login_site .input_login{
  width: 55%;
  height: 100%;
  /* background-color: lawngreen; */
  float: right;
  border-radius: 0 0px 20px 0px;
}
.input_login .input-form-sit{
  width: 80%;
  margin-left: 15%;
}
.input_login .input-form-sit .example-full-width{
  width:100%;
  color: #000;
  font: 600;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input_login .f_b_site{
  float: right;
  margin-right: 30px;
  width: 100px;
}
.input_login .f_b_site button{
  width: 100%;
  border-radius: 50%;
  background: lightblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.input_login .f_b_site button:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.7);
}

#label_login .l_login{
  display: block;
  padding: 20px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: initial;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 2px 2px #000000;
}
#label_login .l_signup{
  margin-left: 10px;

}
#label_login .l_link_signup{
  display: flex;
  margin-top: 10px;
  margin: 10px;
  color: lightcoral;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 600;
  font-style: oblique;
  width: 20%;
}
#label_login .l_link_signup:hover{
  text-shadow: 1px 1px orangered,1px 1px darkorange;
}

.dropdown{
  position: absolute;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropdown-content {
  float: right;
  display: none;
  position: relative;
  background-color: #f9f9f9de;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  margin-left: 10px; 
}

.dropdown2 {
  position: relative;
  display: inline-block;
}
.dropdown2 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9ea;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -8em;
  margin-top: 30%;
}

.dropdown-content a {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #191f70e1;
  color: white;
  border-radius: 7px 2px;
  box-shadow: 2px 2px 5px gray;
}
.dropdown2:hover .dropdown-content {
  display: block;
}

.grid-container {
  position: absolute;
  display: grid;
  grid-template-columns: 320px 320px 320px 320px;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  grid-gap: 10px;
  /* background: red; */
  padding: 10px;
  z-index: 100;
  width: 100%;
  height: 83.5vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 7%;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-position: center;
  text-align: center;
  height: 350px;
}
.grid-container .panel{
  margin-bottom: 10%;
  /* display: inline; */
}

.grid-container .panel .card_grid_site{
  width: 90%;
  height: 90%;
  display: inline-flex;
  text-align: left;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(199, 199, 202, 0.445);
  border: 3px solid linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 0, 0, 0.925));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: all ease-out 400ms;
  border-bottom: 50px solid rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: center;
  flex-direction: column;
}
.grid-container .panel .card_grid_site:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.class-container{
  position: fixed;
  display: none;
  z-index: 1500;
  background-color: #382ce638;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-out 400ms;
}

.class-container .class_panel{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 500px;
  height: auto;
  /* max-height: 80%; */
  background-color:  rgba(255, 255, 255, 0.9);
  border-radius: 20px 20px 20px 20px ;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.658), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  overflow: hidden;
  z-index: 1520;
  overflow-x: hidden;
  overflow-y: hidden;
}
.class-container .class_panel .input-form-sit{
  display: inline;
  width: 100%;
  /* margin-left: 10%; */
}
.class-container .class_panel .input-form-sit .example-full-width{
  width: 100%;
  /* padding: 10px; */
}

.class-container .class_panel .label_font{
  font-family: Arial;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 1px 1px 2px black, 0 0 10px blue, 0 0 5px darkblue;
  margin-bottom: 15px;
  color: white;
}

.class-container .class_panel .f_b_site{
  width: 100%;
}

.class-container .class_panel .f_b_site button{
  width: 100%;
  margin-top: 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: greenyellow;
}

.textPanel{
  width: 50px;
  white-space: nowrap; 
  color: white;
  font-family: Arial;
  font-size: 28px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-family: Serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.textIDpanel{
  color: white;
  text-overflow: ellipsis;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
  font-size: 18px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.textDescPanel{
  color: white; 
  text-overflow: ellipsis;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  word-wrap: break-word;
  margin-top: 30px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

body .joinContainer{
  position: fixed;
  display: none; /* แสดงPanel join */
  z-index: 1500;
  background-color: #382ce638;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-out 400ms;
}
.joinContainer .joinPanel{
  display: inline-flex;
  width: 300px;
  height: 300px;
  background-color: rgb(176, 216, 248);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.joinContainer .joinPanel .input-form-sit{
  width: 80%;
  /* margin-left: 15%; */
}
.joinContainer .joinPanel .input-form-sit .example-full-width{
  width: 100%;
  font-size: 19px;
}
.bottomJoinSite{
  width: 100%;
  margin-top: 150px;
}
.btnJoinClass{
  width: 100%; 
  margin-top: 40px;
  border-radius: 20px;
  background-color: tomato;
  font-size: 17px;
  font-weight: 500;color: rgb(253, 253, 253);
}
.cradDataPanel{
  float: left;
  width: 100%; 
  height: 100%;
  margin-left: 10px;
  /* background-color: chartreuse; */
}
.card_grid_site .matIcon_Panel mat-icon {
  position: relative;
  float: right;
  margin-right: 15px;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.card_grid_site .matIcon_Panel mat-icon:hover,
.card_grid_site .matIcon_Panel mat-icon:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.matIcon_Panel{
  display: block;
  width: 100%;
  /* background: chartreuse; */
}

body .edit_alarm{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #02051338;
  margin: 0 0 0 0;
  top: 0px;
  left: 0px;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  z-index: 1500;
  overflow-x: hidden;
}
body .edit_alarm .editAlarmPanel{
  width: 270px;
  height: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.911);
  position: relative;
  border-radius: 20px 20px 20px 20px;
  -webkit-animation: editAlarmPanel 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: editAlarmPanel 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  flex-direction: column;
  float: left;
}
@-webkit-keyframes editAlarmPanel {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes editAlarmPanel {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.container {
  padding: 20px;
}

mat-chip {
  max-width: 200px;
}

.editAlarmPanel > .btnJoinClass {
  margin-bottom: 10px;
}



