@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  position: absolute;
  font-family: Arial;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: white;
  top: 0px;
  left: 0px;
  /* z-index: -100; */
  /* background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(94, 207, 245, 0.7), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #d1d1d1 100%); */
}

html .wallpaper{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url('../../assets/wp3191291.jpg');
  opacity: 0.5;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  top: 0px;
  left: 0px;
}

* {
  box-sizing: border-box;
}
hr {
  border: 1px solid ;
  width: 80%;
}

body {
  position: relative;
  line-height: normal;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0 0 0 0;
  /* background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(94, 207, 245, 0.7), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #d1d1d1 100%); */
  /* z-index: -100; */
}

body .icon-site{
  position: relative;
  position: fixed;
  float: left;
  top: 0px;
  left: 0px;
  width: 250px;
  height: auto;
  background:rgba(255, 255, 255, 0.8);
  z-index: 500;
  border-radius: 0px 0px 100px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease-out 300ms;
}
body .icon-site img{
  width: 150px;
  padding: 5px;
}
body .icon-site:hover {
  /* background-color:rgba(178, 186, 205, 0.4); */
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

body .profile-site{
  position: fixed;
  z-index: 500;
}
.img-dropdown img{
  width: 90px;
  height: 90px;
  padding: 5px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease-out 300ms;
  z-index: 502;
}
body .profile-site button{
  position: fixed;
  z-index: 400;
  top: 120px;
  right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-dropdown img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}
body .profile-site button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

main{
  position: static;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

/* Login UI */
section{
  position:fixed;
  top: 0;
  left: 0;
  display: block; /* เป็นตัวตั้งค่าหน้าล็อคอินให้แสดงหน้าต่าง */
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 600; 
}
main .login_container{
  position: relative;
  display: block;
  flex-direction: column;
  width: 700px;
  height: 500px;
  margin-left: calc((100% - 700px) / 2);
  z-index: 1000; 
  justify-items: center;
  top: 10%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px 70px;
}
main .login_container .picture_site{
  height: 65%;
  width: 100%;
  border-radius: 20px 70px 0px 0px ;
  background-image: url('../../assets/Title_1-min.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1002;
  padding: 2px;
}
main .login_container .login_site{
  height: 35%;
  width: 100%;
  background-color: white;
  border-radius: 0px 0px 20px 70px;
  z-index: 1001;
  float: left;
}
main .login_container .login_site #label_login{
  width: 45%;
  height: 100%;
  /* background-color: brown; */
  float: left;
  border-radius: 0 0px 0 70px;
  flex-direction: column;
}
main .login_container .login_site .input_login{
  width: 55%;
  height: 100%;
  /* background-color: lawngreen; */
  float: right;
  border-radius: 0 0px 20px 0px;
}
.input_login .input-form-sit{
  width: 80%;
  margin-left: 15%;
}
.input_login .input-form-sit .example-full-width{
  width:100%;
  color: #000;
  font: 600;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input_login .f_b_site{
  float: right;
  margin-right: 30px;
  width: 100px;
}
.input_login .f_b_site button{
  width: 100%;
  border-radius: 50%;
  background: lightblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.input_login .f_b_site button:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.7);
}

#label_login .l_login{
  display: block;
  padding: 20px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: initial;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 2px 2px #000000;
}
#label_login .l_signup{
  margin-left: 10px;

}
#label_login .l_link_signup{
  display: flex;
  margin-top: 10px;
  margin: 10px;
  color: lightcoral;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 600;
  font-style: oblique;
  width: 20%;
}
#label_login .l_link_signup:hover{
  text-shadow: 1px 1px orangered,1px 1px darkorange;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}
.dropdown2 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9ea;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -8em;
  margin-top: 30%;
}
.dropdown-content a {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #191f70e1;
  color: white;
  border-radius: 7px 2px;
  box-shadow: 2px 2px 5px gray;
}
.dropdown2:hover .dropdown-content {
  display: block;
}

.img-dropdown{
  position: fixed;
  display: inline-block;
  float: right;
  width: 90px;
  top: 2%;
  right: 1%;
  border-radius: 100%;
  z-index: 500;
  transition: all ease-out 300ms;
}

.img-dropdown:hover .dropdown-content {
  display: block;
}
.img-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9de;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -8em;
}

.grid-container {
  position: absolute;
  display: grid;
  /* align-content: center; */
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 10px;
  /* background: red; */
  padding: 10px;
  z-index: 200;
  width: 100%;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 7%;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  justify-items: center;
  align-items: center;
  object-position: center;
  text-align: center;
}
.grid-container .panel{
  /* display: block; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  margin-bottom: 5%;
  /* margin-top: 20%; */
}

.grid-container .panel .card_grid_site{
  width: 90%;
  height: 50vh;
  display: block;
  text-align: left;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(176, 231, 250, 0.7));
  border-radius: 20px 20px 20px 20px;
  border: 3px solid linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 0, 0, 0.925));
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: all ease-out 400ms;
  /* border-top: 20px solid transparent; */
  border-bottom: 50px solid rgba(255, 255, 255, 0.582);
  background-image: url("../../assets/abstract-polygonal-space-low-poly-dark-background-3d-rendering_7247-223-min.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: 100%;
}
.grid-container .panel .card_grid_site:hover{
  padding: 10px;
  width: 100%;
  height: 55vh;
  border: 10px solid linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 0, 0, 0.925));
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(245, 129, 94, 0.7));
  grid-gap: 5px;
  background-image: url("../../assets/wallpaper-n-40-min.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: 100%;
}


