<!DOCTYPE html>
<html>
<head>
  <style type="text/css"></style>
</head>
<body id="bodyId">
  <div class="icon-site">
    <img src="../../assets/Check_name_icon.png" alt="SuthenIcon">
  </div>
  <div class="profile-site">
    <form>
      <img id="blah" src="{{mypic}}" alt="your image" class="pic_set" />
    </form>
    <!-- <form>
      <button mat-fab>
        <mat-icon svgIcon="add" aria-label="tool"></mat-icon>
      </button>
    </form> -->
  </div>

  <main id="mainId">
    <form class="list">
      <nav class="nav">
          <li ><a>People</a></li>
          <li class="active"><a>student authenticate</a></li>
          <li><a>Student score</a></li>
      </nav>
    </form>
    <form class="class_site">
      <div class="title_site">

      </div>
    </form>
  </main>
</body>
