@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  position: absolute;
  font-family: Arial;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: white;
  top: 0px;
  left: 0px;
  z-index: -100;
  /* background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(151, 241, 48, 0.6), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);   */
}

html .wallpaper{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url('../../assets/wp1895396-min.jpg');
  filter: blur(50%);
  opacity: 0.7;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  top: 0px;
  left: 0px;
}

* {
  box-sizing: border-box;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.7);
  width: 80%;
  margin: 5% 5% 0px 0;
}

body .profile-site .dropdown .img-dropdown .dropdown-content > hr {
  border: 1px solid ;
  width: 80%;
  margin-left: calc((220px - 80%) / 2);
}

body {
  position: relative;
  line-height: normal;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0 0 0 0;
  /* background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(103, 241, 48, 0.6), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%); */
  z-index: 100;
}

body .icon-site{
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
    width: 250px;
    height: auto;
    background:rgba(255, 255, 255, 0.8);
    z-index: 500;
    border-radius: 0px 0px 100px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all ease-out 300ms;
  }
body .icon-site img{
  width: 150px;
  padding: 5px;
}
body .icon-site:hover {
  /* background-color:rgba(178, 186, 205, 0.4); */
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

body .profile-site{
  position: fixed;
  z-index: 500;
}
.img-dropdown{
  position: fixed;
  display: flex;
  float: right;
  width: 90px;
  height: 90px;
  top: 2%;
  right: 1%;
  border-radius: 100%;
  z-index: 500;
  transition: all ease-out 300ms;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-dropdown mat-card img{
  display: inline;
  width: 90px;
  height: 90px;
  margin-top: 4px;
  background-color: rgb(255, 255, 255);
  transition: all ease-out 300ms;
  justify-content: center;
  align-items: center;
  z-index: 502;
  image-resolution: 320dpi; 
  image-rendering: auto;
}
.img-dropdown:hover >  mat-card{
  /* box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); */
  width: 200px;
  height: 200px;
  border-radius: 10%;
  /* padding: 2px; */
}
.img-dropdown:hover >  mat-card img{
  display: inline;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
body .profile-site button{
  position: fixed;
  z-index: 400;
  top: 120px;
  right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.img-dropdown:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
  width: 450px;
  height: 270px;
  border-radius: 10%;
}
body .profile-site button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.dropdown{
  position: absolute;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropdown-content {
  float: right;
  display: none;
  position: relative;
  background-color: #f9f9f9de;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  margin-left: 10px; 
}

.dropdown2 {
  position: relative;
  display: inline-block;
}
.dropdown2 .dropdown-content {
  float: right;
  display: none;
  position: relative;
  background-color: #f9f9f9de;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  margin-left: 10px; 
}

.dropdown-content a {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #191f70e1;
  color: white;
  border-radius: 7px 2px;
  box-shadow: 2px 2px 5px gray;
}
.dropdown2:hover .dropdown-content {
  display: block;
}

main{
  position: static;
  width: 100%;
  height: 100%;
}
main .list{
  position: fixed;
  width: 30%;
  height: 100vh;
  float: left;
  /* background-color: red; */
  display: block;
  object-position: right;
}
main .class_site{
  position: relative;
  width: 70%;
  height: 100vh;
  float: right;
  /* background-color: yellow; */
  display: block;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.list nav{
  top: 15%;
  position: relative;
  text-align: left;
  font-weight: bold;
}

.nav li {
  position: relative;
  margin: 2em 0 0 0;
  cursor: pointer;
  background:rgba(255, 255, 255, 0.4);
  list-style: none;
  width: 80%;
  transition: all ease-out 300ms;
  border-radius: 0px 0px 100px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav li:not(.active):hover {
  box-shadow: 0 0 2px;
}
.nav li a {
  line-height: 3em;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration-line: none;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: 0px 0px 100px 0px;
  width: 80%;
}
.nav li.active a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
  margin-left: 10px;
  text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 2px darkblue;
  cursor: no-drop;
}
.nav li:not(.active)::after {
  opacity: 0.2;
}
.nav li:not(.active):hover a {
  color: rgba(0, 0, 0, 0.904);
}

.class_site .title_site{
  margin: 5% 0% 0% 0%;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  width: 80%;
  height: 30vh;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(94, 207, 245, 0.7)); */
  background: white;
  border: 1px rgba(0, 0, 0, 0.5);
  border-style: double;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: 50%;
  grid-gap: 10px;
  padding: 10px;
  width: 100%;
  height: auto;
  min-height: 100%;
  /* background-color: blue; */
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  justify-items: center;
  align-items: center;
  object-position: center;
  text-align: center;
}
.grid-container .panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:5%;
  margin-left: calc((100% - 50%) / 2);
}

.grid-container .panel .card_grid_site{
  width: 90%;
  height: 50vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(176, 231, 250, 0.7));
  border-radius: 20px 20px 20px 20px;
  border: 3px solid linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 0, 0, 0.925));
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: all ease-out 400ms;
  border-bottom: 50px solid rgba(255, 255, 255, 0.582);
  background-repeat: no-repeat;
  background-size: 100%;
}
.grid-container .panel .card_grid_site:hover{
  border: 10px solid linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 0, 0, 0.925));
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(245, 129, 94, 0.7));
  grid-gap: 5px;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.class_site .panel{
  display: flex;
  width: 100%;
  /* height: 100%; */
  /* background-color: blue; */
}
.class_site .title_site .panelTextTitle{
  /* background-color: yellow; */
  width: 100%; 
  height: 100px;
  top: 0;
  display: block;
}

.class_site .title_site .panelTextTitle > p:nth-child(1){
  font-size: 32px;
  font-family: Serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 2px 2px 25px blue, 0 0 10px darkblue;
  color: aliceblue;
}
.class_site .title_site .panelTextTitle > p:nth-child(2){
  font-size: 17px;
  font-family: Serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 2px 2px 25px blue, 0 0 10px darkblue;
  color: aliceblue;
}
.class_site .title_site .panelTextTitle > p:nth-child(3){
  font-size: 17px;
  font-family: Serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 2px 2px 25px rgb(255, 0, 0), 0 0 10px rgb(139, 0, 0);
  color: aliceblue;
}

.showQr-contrainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
  z-index: 2000;
  margin: 0px 0px 0px 0px;
  /* top: 0; */
  top: -100%;
  left: 0;
  transform: rotateX(60deg);
}

.showQr-contrainer .ShowQrPanel-container{
  width: 90%;
  height: 90%;
  top: 0;
  /* background-color: rgba(241, 45, 19, 0.425); */
  background-color: none;
  border-radius: 20px;
  /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19); */
}
.showQr-contrainer .ShowQrPanel-container .qrCode_Container{
  width: 70%;
  height: 100%;
  /* background-color: beige; */
  top:0;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showQr-contrainer .ShowQrPanel-container .qrCode_Container .QrCode_panel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  /* background-color: black; */
  border-radius: 10%;
  padding: 10px;
  overflow: hidden;
}
.showQr-contrainer .ShowQrPanel-container .qrCode_Container .QrCode_panel > img {
  border-radius: 10%;
  box-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 10px darkblue;
}
.showQr-contrainer .ShowQrPanel-container .peple_Container{
  width: 30%;
  height: 100%;
  /* background-color: whitesmoke; */
  top:0;
  float: right;
  border: 2px red solid;
  border-radius: 20px;
  overflow: hidden;
}
.showQr-contrainer .ShowQrPanel-container .peple_Container .peple_Container_header{
  /* box-shadow: 0px 2px 3px rgb(250, 249, 249); */
  display: flex;
  width: 100%;
  height: 20%;
  background-color: white;
  z-index: 300;
  background: linear-gradient(to bottom,rgba(255, 255, 255),rgba(255, 255, 255),rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.4), rgba(0, 0, 255, 0.3) 100px );
  border-bottom: 1px solid rgba(255, 0, 0, 0.65);
  /* align-items: center; */
  justify-content: center;
}
.showQr-contrainer .ShowQrPanel-container .peple_Container .peple_Container_header > p{
  font-family: Serif; 
  font-size: 32px;
  font-weight: 600;
  text-shadow: 1px 1px 2px black, 2px 2px 15px blue, 0 0 10px darkblue;
  color: whitesmoke;
}
.card_grid_site mat-icon {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.card_grid_site mat-icon:hover,
.card_grid_site mat-icon:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.peple_Container .gardContainer{
  display: block;
  width: calc(100% - 6px);
  height: 50px;
  /* background-color: whitesmoke; */
  border-radius: 20px;
  margin-top: 3px;
  margin-left: 3px;
  border: 1px solid gainsboro;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.peple_Container .studentListPanel{
  width: 100%;
  height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 250;
  background-color: rgba(255, 255, 255, 0.55);
}