<!DOCTYPE html>
<html>
<head>
    <script src="/node_modules/qrcode-generator/js/qrcode.js"></script>
    <script src="/node_modules/qrcode-generator/js/qrcode_UTF8.js"></script>
    <script src="/node_modules/angular-qrcode/angular-qrcode.js"></script>
  <style type="text/css"></style>
</head>
<div class="wallpaper"></div>
<body id="bodyId">
  <div class="icon-site">
    <img src="../../assets/Check_name_icon.png" alt="SuthenIcon">
  </div>
  <div class="profile-site">
    <form class="dropdown">
      <form class="img-dropdown" >
          <mat-card >
              <img mat-card-avatar id="blah" [routerLink]="['/Home']" src="{{mypic}}" alt="your image" />
          </mat-card>
        <div class="dropdown-content" >
          <a >Sign in as : {{Username}} </a>
          <mat-divider></mat-divider>
          <a >Profile</a>
          <a >Setting</a>
          <mat-divider></mat-divider>
          <a (click)="logout()">Log out</a>
        </div>
      </form>
    </form>
    <form class="dropdown2">
      <button mat-fab >
        <mat-icon svgIcon="add" id="btn_create" aria-label="tool" style="margin-top:-20px;" (click)="startWebsocket()"></mat-icon>
      </button>
    </form>
  </div>

  <main id="mainId">
    <form class="list">
      <nav class="nav">
          <li ><a [routerLink]="['/People']">People</a></li>
          <li ><a  [routerLink]="['/Authen']">student authenticate</a></li>
          <li><a  [routerLink]="['/Score']">Student score</a></li>
      </nav>
    </form>
    
    <form class="class_site">
      <div class="title_site" style="overflow: hidden;background-image: url('../../assets/abstract-polygonal-space-low-poly-dark-background-3d-rendering_7247-223-min.jpg');background-size: 100%;">
        <div *ngFor="let class of myClass">
          <div class="panelTextTitle">
            <p> {{class.TSName}} </p>
            <p> Subject ID : {{class.TSID}} </p>
            <p> Join code : {{class.TSpassword}}  </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="panel">
      <div class="grid-container">
        <div *ngFor="let x of Qrcode" class="panel">
        <div id="panelCard" class="card_grid_site">
          <mat-icon id="btnScreen" svgIcon="aspectRatio" id="btn_screen" aria-label="tool" (click)="zoomScreen(x)"></mat-icon>
          <mat-icon id="btnDelete" svgIcon="delete" id="btn_delete" aria-label="tool"></mat-icon>
          <img src="data:image/gif;base64,{{x.PicQRcode}}" style="width: 60%;margin-left: 75px;" (click)="dataAuthen(x)"/>
          <p>Date : {{x.ADate}}     เช็คครั้งที่ : {{x.ATimeAuthen}}</p>
        </div>
      </div>
    </div>
    </div>
    </form>
  </main>

  <div class="showQr-contrainer" id="showQr-contrainer">
    <div class="ShowQrPanel-container"> 
      <section class="qrCode_Container" id="qrCode_Container">
        <div class="QrCode_panel" >
          <img src="data:image/gif;base64,{{ShowdDataQr}}" style="width: 600px;" />
        </div>
      </section>

      <section class="peple_Container">
        <header class="peple_Container_header">
            <p id="timeShow"></p>
            <label>ของวันที่ : {{ADate}} เช็คครั้งที่ : {{ATimeAuthen}}</label>
        </header>
        <section class="studentListPanel">
          <div *ngFor="let item of StudentNow; let i=index">
            <div class="gardContainer" id="gardContainer" [ngStyle]="{'background-color': getRandomColor(item,i)[i]}">
              <label >{{item.StudentID + "  " + item.SfirstName + " " + item.SlastName}}</label>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</body>