@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  position: absolute;
  font-family: Arial;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: white;
  top: 0px;
  left: 0px;
  z-index: -100;
  background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(151, 241, 48, 0.6), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);  
}

* {
  box-sizing: border-box;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.7);
  width: 80%;
  margin: 5% 5% 0px 0;
}

body {
  /* position: absolute; */
  line-height: normal;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: auto;
  height: auto;
  min-height: 100%;
  margin: 0 0 0 0;
  /* background: radial-gradient(circle at 94.02% 88.03%, #ffffff, transparent 100%),
    radial-gradient(circle at 25.99% 27.79%, rgba(103, 241, 48, 0.6), transparent 100%),
    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%); */
}

body .icon-site{
    position: relative;
    position: fixed;
    float: left;
    top: 0px;
    left: 0px;
    width: 250px;
    height: auto;
    background:rgba(255, 255, 255, 0.8);
    z-index: 500;
    border-radius: 0px 0px 100px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all ease-out 300ms;
  }
body .icon-site img{
  width: 150px;
  padding: 5px;
}
body .icon-site:hover {
  /* background-color:rgba(178, 186, 205, 0.4); */
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

body .profile-site img{
  position: fixed;
  width: 90px;
  right: 10px;
  background-color: white;
  border-radius: 100%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  z-index: 500;
  transition: all ease-out 300ms;
}
body .profile-site button{
  position: fixed;
  z-index: 500;
  top: 120px;
  right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body .profile-site img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}
body .profile-site button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

main{
  position: relative;
  margin: 0 0 0 0;
  /* background-color: blue; */
  width: 100%;
  height: 100vh;
}
main .list{
  position: fixed;
  width: 30%;
  height: 100vh;
  float: left;
  /* background-color: red; */
  display: block;
  object-position: right;
}
main .class_site{
  position: relative;
  width: 70%;
  height: auto;
  min-height: 100vh;
  float: right;
  /* background-color: yellow; */
  display: block;
  justify-content: center;
}

.list nav{
  top: 15%;
  position: relative;
  text-align: left;
  font-weight: bold;
}

.nav li {
  position: relative;
  margin: 2em 0 0 0;
  cursor: pointer;
  background:rgba(255, 255, 255, 0.4);
  list-style: none;
  width: 80%;
  transition: all ease-out 300ms;
  border-radius: 0px 0px 100px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav li:not(.active):hover {
  box-shadow: 0 0 2px;
}
.nav li a {
  line-height: 3em;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration-line: none;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: 0px 0px 100px 0px;
  width: 80%;
}
.nav li.active a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
  margin-left: 10px;
  text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 2px darkblue;
  cursor: no-drop;
}
.nav li:not(.active)::after {
  opacity: 0.2;
}
.nav li:not(.active):hover a {
  color: rgba(0, 0, 0, 0.904);
}

.class_site .title_site{
  margin: 5% 0% 0% 0%;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  width: 80%;
  height: 30vh;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(94, 207, 245, 0.7)); */
  background: white;
  border: 1px rgba(0, 0, 0, 0.5);
  border-style: double;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: 50%;
  grid-gap: 10px;
  padding: 10px;
  width: 100%;
  height: auto;
  min-height: 100%;
  /* background-color: blue; */
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  justify-items: center;
  align-items: center;
  object-position: center;
  text-align: center;
}
.grid-container .panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:5%;
  margin-left: calc((100% - 50%) / 2);
}

.grid-container .panel .card_grid_site{
  width: 90%;
  height: 50vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(176, 231, 250, 0.7));
  border-radius: 20px 20px 20px 20px;
  border: 3px solid linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 0, 0, 0.925));
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: all ease-out 400ms;
  /* border-top: 20px solid transparent; */
  border-bottom: 50px solid rgba(255, 255, 255, 0.582);
  /* background-image: url("../../assets/wallpaper-n-40-min.jpg"); */
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-image: url('../../assets/qrcode_test-min.png');
  background-size: 256px 256px; */
}
.grid-container .panel .card_grid_site:hover{
  padding: 10px;
  width: 100%;
  height: 55vh;
  border: 10px solid linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 0, 0, 0.925));
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(245, 129, 94, 0.7));
  grid-gap: 5px;
  /* background-image: url("../../assets/wallpaper-n-40-min.jpg"); */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: 100%;
}
.panel{
  display: flex;
  width: 100%;
}

.title_site > p{
  margin: 15% 0 0 0;
  padding: 10px;
  text-overflow: ellipsis;
  font-size: 28px;
  font-family: Sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
