body {
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

div {
    display: block;
}

* {box-sizing: border-box}

.siteBackground {
    width: 100%;
    position: absolute;
    background-image: url(../../assets/Title_1.jpg);
    background-position: center;
    background-position-y: -450px;
}

.panel_title_top{
    /* background-color: blue; */
    width: 100%;
    position: absolute;
}

.panel_title_Start{
    /* background-color: blue; */
    width: 100%;
    position: absolute;
    text-align: center;
}

.title_button_login{
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 30px;
}

.panel_title_top_img{
    background-color: white;
    width: 100%;
    position: absolute;
}

.button_title_startnow{
    font-size: 30px;
    border-radius: 30px;
}