<!DOCTYPE html>
<html>
    <head >
        <style type="text/css"></style>
    </head>
    <body>
        <div id="title_site_backgound" style="top: 0px;left: 0px; min-height: calc(100vh - 0px);width: 1349px;height: 1000px;" class="siteBackground">
            <div style="top: 0px;left: 0px;width: 1349px;height: 450px;" class="panel_title_top">
                    <button style="top: 40px;left: 1200px;" class="title_button_login" mat-stroked-button>Login</button>
                    <div style="top: 78px;left: 322px;width: 712px;height: 352px;" class="panel_title_top_img">
                        <img src="../../assets/Check_name_icon.png" alt="Title_icon" style="width: 90%;">
                    </div>
            </div>
            <div style="top: 500px;left: 0px;width: 1349px;height: 100px;" class="panel_title_Start">
                    <button style="top: 40px;padding: 15px 60px;" class="button_title_startnow" mat-raised-button color="accent">Start now</button>
            </div>
        </div>
    </body>
</html>
