<!-- This is a reverse engineering of the "Hyperspace" -->
<!DOCTYPE html>
<html>
    <head>
        <style type="text/css"></style>
    </head>
     <main class="main">
        <aside class="sidebar">
          <nav class="nav">
            <ul>
              <li class="active"><a href="#">Welcome</a></li>
              <li><a href="#" [routerLink]="['/Login']">Log in</a></li>
              <li><a href="#" [routerLink]="['/Signup']">Sign up</a></li>
              <li><a href="#">My Class</a></li>
            </ul>
          </nav>
        </aside>
      
        <section class="twitter">
          <div class="container">
              
          </div>
        </section>
      </main>
</html>