@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  font-family: Arial;
  font-size: 16px;
  background: #5e42a6;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: linear-gradient(to left bottom,#0000FF,#0033FF,#0066FF,#0099FF,#00CCFF,#00FFFF);
  font-size: 0.65em;
  top:0px;
  left: 0px;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav li{
  font-size: 12.5px;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #0000FF,#0033CC, #006699,#009966,#00CC33,#00FF00);
}

.twitter {
  position: absolute;
  width: 74.8%;
  float: right;
  height: 100vh;
  background: #5e42a6;
  top:0px;
  left: 25%;
  background-image: url(../../assets/Title_1.jpg);
  background-position: center;
  background-size: 1366px 768px;
  border-left-style: ridge;
}
.twitter .container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
